* {
    margin:0;
    padding:0;
   
  }
  
  
  .main{
    height:60vh;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  
  }
  .main h1{
    font-size: 3.8rem;
    text-align:center; 
    color: #EBD3F8;
    font-family: cursive;
  }
  .roller{
    font-family: cursive;
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E073F;
    letter-spacing: 0.5rem;
  }
  
  
  #spare-time{
    font-size: 1.9rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
 
    color: #2E073F;
    
  }
  
  .roller #rolltext {
    font-size: 2rem;
    position: absolute;
    top: 0;
    animation: slide 7s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 768px){
    h1{
    text-align:center;
    text-transform: uppercase;
  
    color: #2E073F;
    font-size: 2.125rem;
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
    animation: slide-mob 7s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }

.section {
   
    background-color:#2E073F;
    height: 90vh;
    width: 100%; 
    display: flex;
   gap: 20px;
  }
  
  .text {
    margin-top: 60px;
    float: left;
    width: 45%;
    padding-left: 85px;
 
    color: #EBD3F8;
    font-family: cursive;
    font-size: 24px;
    padding-bottom: 100px;
  }
  
  .text1 {
    margin-top: 30px;
    float: right;
    padding-right: 85px;
  }
  
  img {
    height: 400px;
    width: 500px;
    border-radius: 30px;
  }
  

  @media screen and (max-width: 768px) {
    .section {
      flex-direction: column; 
      align-items: center; 
      height: auto;
      gap: 10px;
    }
  
    .text {
      float: none;
      width: 90%;
      padding-left: 10px; 
      font-size: 20px; 
      padding-bottom: 20px; 
      margin-top: 30px;
      text-align: center; 
    }
  
    .text1 {
      float: none;
      width: 90%; 
      padding-right: 10px;
      text-align: center; 
    }
  
    img {
      height: 300px;
      width: 100%; 
      margin-bottom: 30px;
    }
  }
  
  .course_section {
    
     background-color: #AD49E1;
    padding: 50px 0; 
    text-align: center; 
  }
  
  .course_section h2 {
 
    color: #2E073F;
    font-family: cursive;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .course_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
  }
  
  .course_card {
    background-color:#2E073F; 
  
    border: 2px solid #EBD3F8;
    border-radius: 8px; 
    padding: 18px;
    width: 18%;
    height: 500px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .course_card img {
    max-width: 100%; 
    height:40%;
   
    border-radius: 8px; 
  }
  
  .course_card h3 {
    color: #EBD3F8; 
    margin: 15px 0; 
    font-family: cursive;
  }
  
  .course_card p {
    color: #EBD3F8; 
    font-size: 1rem;
    margin-bottom: 14px;
    padding-bottom: 10px;
  }
  
  .course_link {
    background-color: #EBD3F8;
    color: #2E073F;
    border: none;
    font-weight: bold;
     padding: 10px 15px; 
     cursor: pointer;
     transition: background-color 0.3s ease;
    text-decoration: none; 
    font-weight: bold;
    border-radius: 8px;

  }
  
  .course_link:hover {
  background-color: #2E073F;
  color: #EBD3F8;
  border: 2px solid #EBD3F8;
  }
  
  @media screen and (max-width: 768px) {
    .course_card {
      width: 80%;
    
    }
    .course_card img {
      width: 90%;
      height:55%;
    }
    .course_link{
      margin-bottom: 28px;
    }
  }

  .ticker-wrapper {
    width: 100%;
    overflow: hidden; 
    background-color:#2E073F;
    padding: 20px 0;
 
    position: relative;
    font-weight: bold;
    font-family: cursive;
  }
  
  .ticker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap; 
    animation: ticker-animation 25s linear infinite; 
  }
  
  .ticker-item {
    display: flex;
    align-items: center;
    margin-right: 50px; 
  
  }
  .ticker-item p{
    color:#EBD3F8;
  }
  .ticker-item i{
   padding: 8px;
   color:#EBD3F8;
  }
  .feature-icon {
    width: 50px; 
    height: 50px;
    margin-right: 10px;
  }
  
  @keyframes ticker-animation {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }
 

/* TOP CATEGORIES */
  .top-categories {
    padding: 40px 20px;
    background-color:#AD49E1;
    text-align: center;
   
  }
  
  .top-categories h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:#2E073F;
    font-family: cursive;
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
  }
  
  .category-item {
    background-color:#2E073F;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .category-item:hover {
    transform: translateY(-5px);
  }
  
  .category-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
 

  }
  .category-item p {
    font-size: 1rem;
    color:#EBD3F8;
  margin-top: 10px;
  font-weight: bold;
  font-family: cursive;
  }
  